.clients {
  padding: 70px 30px 10px;
  color: #fff;
  background: #191919;
  .caption-wrap {
    @media (min-width: 1025px) {
      padding-left: 70px;
      width: 32%;
      float: left;
    }
  }
  .clients-list {
    text-align: center;
    @media (min-width: 1025px) {
      width: 68%;
      float: left;
      text-align: left;
    }
    ul {
      position: relative;
      padding-left: 30px;
      margin-right: -60px;
      @media (max-width: 1024px) {
        padding-left: 0;
        margin-right: 0;
      }
      li {
        display: inline-block;
        margin: 0 30px 70px;
        vertical-align: top;
        @media (max-width: 1024px) {
          margin-bottom: 40px;
        }
      }
    }
  }
}