.contact {
  padding: 0 30px;
  margin-bottom: 60px;
  .caption-wrap {
    @media (min-width: 1025px) {
      padding-left: 70px;
      width: 30%;
      float: left;
    }
  }
  .contact-details {
    margin: 0 -15px;
    @media (min-width: 1025px) {
      width: 70%;
      float: left;
    }
    .contact-block {
      padding: 0 15px;
      float: left;
      background: #fff;
      @media (min-width: 992px) {
        width: 33.3333%;
      }
    }
    .dl {
      margin-bottom: 22px;
    }
    .dt {
      font-size: 24px;
      font-weight: 700;
    }
    .dd {
      font-size: 22px;
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .social {
    padding-top: 10px;
    a {
      color: #7f7f7f;
      &:hover {
        color: #111;
      }
    }
  }
}

#google-map {
  width: 100%;
  height: 600px;
  background: #f0f0f0;
}