.feedback {
  padding: 50px 100px;
  @media (max-width: 1025px) {
    padding: 30px;
  }
  .fieldset {
    position: relative;
    margin-bottom: 20px;
    input {
      display: block;
      width: 100%;
      height: 75px;
      padding-right: 90px;
      font-size: 60px;
      font-weight: 700;
      line-height: 1;
      border: 0;
      @include input-placeholder(#262932);
      @media (max-width: 1025px) {
        font-size: 30px;
      }
    }
    button {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      width: 75px;
      height: 75px;
      padding: 0;
      margin: 0;
      font-size: 60px;
      line-height: 1;
      border: 0;
      background: none;
    }
  }
  .desc {
    padding: 20px 0;
    font-size: 20px;
    border-top: 2px solid #262932;
  }
  .has-error {
    .fieldset {
      input {
        color: #a94442;
      }
      button {
        color: #a94442;
      }
    }
    .desc {
      border-top: 2px solid #a94442;
    }
  }
}