.news {
  padding: 40px 30px 70px;
  .caption-wrap {
    @media (min-width: 1025px) {
      padding-left: 70px;
      width: 32%;
      float: left;
    }
  }
  .news-list {
    @media (min-width: 1025px) {
      width: 68%;
      float: left;
      text-align: left;
    }
  }
  .arrows {
    width: 240px;
    padding-top: 300px;
    text-align: center;
    white-space: nowrap;
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .swiper-container,
  .swiper-slide {
    width: 100%;
    overflow: hidden;
  }
  .swiper-button-prev,
  .swiper-button-next {
    position: relative;
    display: inline-block;
    top: auto;
    left: auto;
    right: auto;
    width: 100px;
    height: 60px;
    font-size: 34px;
    line-height: 60px;
    background: none;
    user-select: none;
  }
  .swiper-button-prev {
    border-right: 1px solid #ccc;
  }
  .swiper-button-next {
    
  }
  .swiper-slide {
    .info {
      width: 50%;
      padding: 0 15px;
      overflow: hidden;
      @media (max-width: $screen-xs-max) {
        width: 100%;
        padding: 0;
      }
    }
    .figure {
      width: 50%;
      height: 600px;
      float: right;
      @media (max-width: $screen-xs-max) {
        width: 100%;
        height: 320px;
        margin-bottom: 30px;
        float: none;
      }
    }
    .num {
      margin-bottom: 30px;
      color: #cecece;
      font-size: 30px;
      font-weight: 700;
    }
    .title {
      margin-bottom: 30px;
      font-size: 48px;
      font-weight: 700;
      line-height: 1;
    }
    .desc {
      font-size: 20px;
      p {
        margin-bottom: 20px;
      }
    }
  }
}