.portfolio {
  margin-bottom: 60px;
  @media (max-width: 1024px) {
    margin-bottom: 30px;
  }
  .items {
    overflow: hidden;
  }
  .item {
    position: relative;
    width: 50%;
    float: left;
    background: #000;
    @media (min-width: 1025px) {
      .caption {
        transition: transform 0.35s;
        transform: translate3d(0,100%,0);
      }
      &:hover {
        .figure {
          opacity: .4;
        }
        .caption {
          transform: translate3d(0,0,0);
        }
      }
    }
    @media (max-width: 768px) {
      width: 100%;
      float: none;
    }
    .item-link {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
    .figure {
      height: 520px;
      overflow: hidden;
      @media (max-width: 1200px) {
        height: 360px;
      }
      @media (max-width: 1024px) {
        opacity: .8;
      }
    }
    .caption {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 50px 70px;
      color: #fff;
      @media (max-width: 1024px) {
        padding: 30px 30px;
      }
    }
    .title {
      font-size: 50px;
      font-weight: 700;
      line-height: 1.2;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .desc {
      font-size: 17px;
      font-weight: 700;
    }
  }
}