.project.projectUDH {
  margin-bottom: 0;
}

.projectUDH {
  .case-body {
    background: #1c260f;
  }
  .col-1-4 {
    float: left;
    width: 27%;
  }
  .col-3-4 {
    float: left;
    width: 73%;
  }
  .s-1 {
    .container {
      background: image-url('proj_udh_back1.jpg') 50% 0 no-repeat;
      z-index: 25;
    }
    .r-1 {
      padding-bottom: 110px;
    }
    img {
      display: inline-block;
    }
    .r-2 {
      text-align: center;
      padding-top: 0;
      padding-bottom: 0;
    }
    .r-3 {
      text-align: center;
      padding-top: 0;
    }
    .r-4 {
      text-align: center;
      padding-top: 120px;
    }
  }
  .s-2 {
    .container {
      margin-top: -200px;
      background: image-url("proj_udh_back2.jpg") 50% 0 no-repeat;
      z-index: 20;
    }
    .r-1 {
      padding-top: 290px;
      padding-bottom: 0;
    }
    .col-1-4 {
      text-align: right;
    }
    .col-3-4 {
      padding-left: 45px;
    }
  }
  .s-3 {
    .container {
      margin-top: -140px;
      background: image-url("proj_udh_back3.jpg") 50% 0 no-repeat;
      z-index: 15;
    }
    .r-1 {
      padding-top: 290px;
      padding-bottom: 0;
    }
    .col-1-4 {
      float: right;
    }
    .col-3-4 {
      padding-right: 45px;
    }
  }
  .s-4 {
    padding-top: 0;
    padding-bottom: 100px;
    background: image-url("proj_udh_back5.jpg") 50% 100% no-repeat;
    .container {
      margin-top: -380px;
      background: image-url("proj_udh_back4.jpg") 50% 0 no-repeat;
      z-index: 10;
    }
    .r-1 {
      padding-top: 490px;
      text-align: center;
    }
    img {
      display: inline-block;
    }
    .r-2 {
      text-align: center;
      padding-top: 100px;
    }
  }
}

.projectUDH_logosCover {
  max-width: 1400px;
  margin: 0 auto;
}

.projectUDH .s-4 .r-2 {
  img {
    margin: 0 11px;
  }
  .i-2 {
    margin: 0 16px;
  }
}

@media (max-width: 1024px) {
  .projectUDH {
    .col-1-4 {
      width: 33%;
    }
    .col-3-4 {
      width: 67%;
    }
    .s-3 {
      .container {
        margin-top: -70px;
      }
      .r-1 {
        padding-top: 140px;
      }
    }
    .s-4 {
      .container {
        margin-top: 0;
      }
      .r-1 {
        padding-top: 80px;
      }
    }
  }
}

@media (max-width: 880px) {
  .projectUDH {
    .col-1-4, .col-3-4 {
      width: 100%;
      float: none;
    }
    .s-2 {
      .container {
        margin-top: -300px;
        background-position: 0 0;
      }
      .r-1 {
        padding-top: 370px;
      }
      .col-1-4 {
        text-align: left;
        padding-bottom: 40px;
      }
      .col-3-4 {
        padding-left: 0px;
      }
    }
    .s-3 {
      .container {
        margin-top: -200px;
      }
      .r-1 {
        padding-top: 270px;
      }
      .col-1-4 {
        text-align: left;
        padding-bottom: 40px;
      }
      .col-3-4 {
        padding-left: 0px;
        padding-right: 0;
      }
    }
    .s-4 {
      padding-bottom: 50px;
      .r-2 {
        padding-top: 50px;
        img, .i-2 {
          margin: 0 8px;
        }
      }
    }
  }
}