.project.projectRest {
  margin-bottom: 0;
}

.projectRest .case-body {
  background: #201513;
}

.project.projectRest {
  img {
    display: inline-block;
    max-width: 100%;
  }
  .s-1 {
    background: url("../public/proj_restauracja/proj_rest_back1.jpg") 0 100% no-repeat;
    .container {
      background: url("../public/proj_restauracja/proj_rest_back0.jpg") 100% 0 no-repeat;
    }
    .r-1 {
      padding-bottom: 70px;
    }
    .r-2 {
      padding: 0 0 100px;
      text-align: center;
    }
  }
}

.projectRest {
  .i-0 {
    position: absolute;
    right: 0;
    top: 1300px;
    z-index: 20;
  }
  .i-1 {
    float: left;
    margin-bottom: 80px;
  }
  .i-2 {
    position: absolute;
    right: 180px;
    top: 160px;
    z-index: 5;
  }
  .i-3 {
    clear: both;
    margin-right: 200px;
    z-index: 6;
    position: relative;
  }
}

.project.projectRest .s-1 .r-3 {
  padding: 40px 0 0;
  text-align: center;
}

.projectRest {
  .i-4 {
    position: relative;
    top: 120px;
  }
  .i-6 {
    position: relative;
    top: 300px;
  }
}

.project.projectRest .s-2 .container {
  background: url("../public/proj_restauracja/proj_rest_bottom.jpg") 50% 100% no-repeat;
  padding-top: 120px;
  padding-bottom: 950px;
}

.projectRest {
  .i-7 {
    float: left;
    margin-bottom: 115px;
    z-index: 10;
    position: relative;
  }
  .i-8 {
    position: absolute;
    right: 20px;
    top: 190px;
    z-index: 5;
  }
  .i-12 {
    z-index: 11;
    position: relative;
    margin-bottom: 100px;
  }
  .i-9 {
    position: absolute;
    right: 200px;
    margin-top: 450px;
    z-index: 14;
  }
  .i-10 {
    float: left;
    margin: 0 0 0 115px;
  }
  .i-11 {
    position: absolute;
    right: 130px;
    z-index: 14;
    margin-top: 930px;
  }
}

@media (max-width: 1500px) {
  .project.projectRest {
    .s-2 .container {
      padding-bottom: 900px;
    }
    .s-1 .r-2 {
      text-align: left;
    }
  }
  .projectRest {
    .i-2 {
      right: 20px;
    }
    .i-3 {
      margin-left: 20px;
    }
    .i-7 {
      margin-bottom: 50px;
    }
    .i-8 {
      position: relative;
      float: right;
      right: 0;
      top: 0;
    }
    .i-12 {
      top: -200px;
      margin-bottom: 0;
    }
    .i-9 {
      right: 50px;
    }
    .i-10 {
      margin-left: 30px;
    }
    .i-11 {
      right: 0;
      margin-top: 960px;
    }
  }
}

@media (max-width: 1400px) {
  .projectRest {
    .i-0 {
      width: 400px;
    }
    .i-1 {
      width: 70%;
    }
    .i-2 {
      z-index: 20;
    }
    .i-3 {
      width: 55%;
    }
  }
}

@media (max-width: 1200px) {
  .project.projectRest .s-2 .container {
    padding-top: 250px;
    padding-bottom: 600px;
    background-position: 30% 100%;
  }
  .projectRest {
    .i-2 {
      width: 40%;
    }
    .i-12 {
      top: 50px;
    }
    .i-9 {
      position: relative;
      float: left;
      margin-top: 100px;
      right: 0;
      width: 45%;
    }
    .i-10 {
      position: relative;
      float: right;
      margin-top: 100px;
      right: 0;
      width: 45%;
    }
    .i-11 {
      position: relative;
      float: left;
      width: 45%;
      margin-top: 50px;
      left: -50px;
    }
  }
}

@media (max-width: 1000px) {
  .projectRest .i-0 {
    width: 300px;
    top: 1100px;
  }
  .project.projectRest .s-1 .row.r-3 .col-1-3 {
    float: left;
    width: 33%;
    padding: 20px;
  }
  .projectRest {
    .i-4, .i-6 {
      top: 0;
    }
  }
  .project.projectRest .s-2 .container {
    padding-top: 30px;
  }
}

@media (max-width: 800px) {
  .projectRest .i-0 {
    width: 250px;
    top: 1000px;
  }
  .project.projectRest .s-2 .container {
    padding-top: 250px;
    padding-bottom: 600px;
    background-position: 45% 100%;
  }
}

@media (max-width: 600px) {
  .projectRest .i-0 {
    width: 200px;
    top: 1150px;
  }
  .project.projectRest .s-1 .r-2 {
    padding-bottom: 20px;
  }
  .projectRest {
    .i-1 {
      widtH: 50%;
      margin-bottom: 20px;
    }
    .i-2 {
      widtH: 40%;
      top: 0;
    }
    .i-3 {
      widtH: 50%;
      margin-left: 0;
    }
  }
  .project.projectRest {
    .s-1 .row.r-3 .col-1-3 {
      padding: 10px;
    }
    .s-2 .container {
      padding-top: 200px;
    }
  }
}

@media (max-width: 450px) {
  .project.projectRest {
    img.i-0 {
      display: none;
    }
    .s-1 {
      .r-2, .r-3 {
        text-align: center;
      }
    }
    .s-2 {
      text-align: center;
    }
  }
  .projectRest {
    .i-1 {
      widtH: 100%;
      margin-bottom: 20px;
    }
    .i-2 {
      widtH: 100%;
      position: relative;
      top: 0;
      right: 0;
    }
    .i-3 {
      widtH: 100%;
      margin-left: 0;
      margin-top: 30px;
    }
  }
  .project.projectRest .s-2 .container {
    padding-top: 60px;
    padding-bottom: 800px;
    background-position: 50% 100%;
  }
  .projectRest {
    .i-7 {
      margin-bottom: 20px;
    }
    .i-12 {
      margin-top: 20px;
      top: 0;
    }
  }
  .project.projectRest .s-1 .row.r-3 .col-1-3 {
    float: none;
    width: 100%;
    padding: 0;
  }
  .projectRest {
    .i-9 {
      width: 100%;
      margin-top: 60px;
    }
    .i-10 {
      width: 100%;
      margin-top: 20px;
    }
    .i-11 {
      width: 100%;
      margin-top: 20px;
      left: 0;
    }
  }
}