.project2 {
  margin-bottom: 40px;
  .container {
    max-width: 1900px;
    padding: 0 70px;
    @media (max-width: 1024px) {
      padding: 0 30px;
    }
  }
  .case-heading {
    margin-bottom: 60px;
    h1 {
      margin-bottom: 0;
    }
    .desc {
      color: #5e5e5e;
      font-size: 17px;
      text-transform: uppercase;
    }
  }
  .case-body {
    color: #fff;
    background: #2e2b2d;
  }
  .row {
    margin: 0 -30px;
    @media (max-width: 1024px) {
      margin: 0;
    }
    .col-1-3 {
      width: 33.3335%;
      padding: 0 30px;
      float: left;
      @media (max-width: 1024px) {
        width: 100%;
        padding: 0;
        float: none;
      }
    }
    .col-1-2 {
      width: 50%;
      padding: 0 30px;
      float: left;
      @media (max-width: 1024px) {
        width: 100%;
        padding: 0;
        float: none;
      }
    }
  }
  .text {
    font-size: 18px;
    p {
      margin-bottom: 16px;
    }
  }
  .preview {
    max-width: 1900px;
    margin: 0 auto;
  }
  .section {
    position: relative;
  }
  .slides {
    position: relative;
    .img-abs {
      position: absolute;
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
  .captured {
    position: relative;
    padding-left: 45px;
    margin-bottom: 40px;
    &:before {
      content: '_';
      position: absolute;
      top: 0;
      left: 0;
      color: #54abea;
      font-size: 40px;
      line-height: .8;
    }
    h2 {
      margin-bottom: 10px;
    }
    .desc {
      font-size: 20px;
    }
  }
  .s-1 {
    .r-1 {
      padding-top: 120px;
      padding-bottom: 120px;
      @media (max-width: 1024px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
    .tablet {
      position: absolute;
      top: -170px;
      right: 0;
      @media (max-width: 1400px) {
        right: -320px;
      }
      @media (max-width: 1024px) {
        display: none;
      }
    }
    .phone {
      position: absolute;
      top: 190px;
      right: 0;
      z-index: 10;
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
  .s-2 {
    padding-top: 120px;
    @media (max-width: 1024px) {
      padding-top: 60px;
    }
  }
  .s-3 {
    padding-top: 180px;
    background: image-url('bg_es3.jpg') no-repeat 50% 0;
    @media (max-width: 1024px) {
      padding-top: 60px;
    }
    .slides {
      .i-1 {
      position: relative;
        z-index: 3;
      }
      .i-2 {
        top: 0;
        left: 0;
      }
      .i-3 {
        top: -130px;
        right: 0;
        z-index: 4;
      }
    }
  }
  .s-8 {
    padding-bottom: 60px;
    background: image-url('bg_es8.jpg') no-repeat 50% 100%;
  }
  .case-footer {
    padding: 50px 0;
    background: #f1f1f1;
    ul {
      margin: 0 -60px;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 60px;
        font-size: 30px;
        font-weight: 700;
      }
      a {
        text-decoration: none;
      }
      i {
        margin: 0 5px;
      }
    }
  }
}