.afterText {
  display: block;
  padding: 22px 0 0;

  span {
    display: inline-block;
    border-top: 2px solid #fff;
    padding: 22px 45px 0 0;
  }

  a {
    color: #fff;
    text-transform: uppercase;
  }
}
.projectCuba .afterText {
 span {
    border-top: 2px solid #504b57;
 }
}

.logoCover {
  text-align: center;

  img {
    margin: 0 auto;
  }
}

.projectCuba .logoCover {
  width: 480px;
  margin: 0 auto;

  .i-1 {
    margin-bottom: 38px;
  }

  .i-2 {
    margin-bottom: 32px;
  }
}

.project.projectCuba {
  margin-bottom: 0;
}

.projectCuba {
  .case-body {
    background: #2f2a3e;
  }

  .s-1 {
    .container {
      background: image-url('proj_cuba_back1.jpg') 50% 0 no-repeat;
    }

    .r-2 {
      padding: 15px 0 130px;
    }
  }
}

.project .s-2 {
  background: none;
}

.projectCuba {
  .s-2 {
    .container {
      background: image-url('proj_cuba_back2.jpg') 50% 620px no-repeat;
    }

    .r-1 {
      padding: 0 0 40px;
      text-align: center;
    }

    img {
      display: inline-block;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
    }
  }

  .slides img {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.33);
  }

  .s-2 {
    .r-2 {
      padding: 0 0 124px;

      img {
        float: left;
      }

      .i-1 {
        margin-right: 40px;
      }
    }

    .col-1-3 {
      width: 36%;
      text-align: right;
    }
  }

  .s-4 .col-1-3 {
    width: 36%;
    text-align: right;
  }

  .s-2 .col-2-3, .s-4 .col-2-3 {
    width: 64%;
    padding: 0 10px;
    float: left;
    text-align: left;
  }

  .s-2 .r-3 {
    padding-bottom: 134px;

    .col-1-3 {
      padding-right: 50px;
    }
  }

  .s-4 .col-1-3 {
    padding-right: 50px;
  }
}

.project .s-3 {
  background: none;
}

.projectCuba .s-3 {
  .container {
    background: image-url('proj_cuba_back3.jpg') 50% 300px no-repeat;
  }

  .i-2 {
    position: absolute;
    top: -247px;
  }

  .i-3 {
    position: absolute;
    top: 440px;
    right: 50%;
    left: 188px;
  }

  .i-4 {
    float: right;
  }

  .i-5 {
    float: left;
    margin: 1073px 0 0  60px;
  }

  .i-6 {
    position: absolute;
    top: 1253px;
    left: 30%;
  }

  .i-7 {
    position: absolute;
    top: 933px;
    right: -12px;
  }

  .i-8 {
    position: absolute;
    top: 587px;
    left: 50%;
    margin-left: 272px;
  }
}

.projectCuba .s-4 {
  background: image-url('proj_cuba_back5.jpg') 50% 100% no-repeat;
  padding-bottom: 0;
}

.projectCuba .s-4 {
  .container {
    background: image-url('proj_cuba_back4.jpg') 50% 0 no-repeat;
  }

  .slides {
    position: relative;
    text-align: center;
  }

  .i-1 {
    clear: both;
    float: left;
    margin-left: 30px;
    top: -180px;
    z-index: 10;
    position: relative;
  }

  .i-3 {
    clear: both;
    float: right;
    margin: -483px 120px 0 0;
    z-index: 5;
    position: relative;
  }

  .i-4 {
    clear: both;
    float: left;
    margin: -114px 0 0 176px;
    z-index: 10;
    position: relative;
  }

  .i-5 {
    clear: both;
    top: -112px;
    z-index: 5;
    position: relative;
  }
}

.projects_navi {
  background: #f1f1f1;
  margin-bottom: 50px;
}

.projects_navi_item {
  float: left;
  width: 50%;
  box-sizing: border-box;
  font-size: 30px;

  &:first-child {
    border-right: 1px solid #c1c1c1;
    text-align: right;
  }

  a {
    display: inline-block;
    margin: 60px 0 60px 70px;
    font-weight: 700;
    color: #262425;
    position: relative;

    &:before {
      content: " ";
      display: block;
      width: 20px;
      height: 20px;
      position: absolute;
      right: -40px;
      top: 10px;
      background: image-url('projects_navi.png') 100% 0 no-repeat;
    }
  }

  &:first-child a {
    margin-right: 70px;
    margin-left: 0;

    &:before {
      background-position: 0 0;
      left: -40px;
      right: 0;
    }
  }
}

.projects_navi:after {
  clear: both;
}

@media (max-width: 1800px) {
  .projectCuba .s-4 {
    .i-1 {
      margin-left: 0;
    }

    .i-3 {
      margin-right: 0;
      margin-top: -360px;
    }

    .i-4 {
      margin-left: 30px;
      top: -130px;
    }
  }
}

@media (max-width: 1600px) {
  .projectCuba {
    .s-3 {
      .i-3 {
        left: 0;
      }

      .i-5 {
        margin-left: 0;
      }

      .i-6 {
        top: 1090px;
      }

      .i-7 {
        display: none;
      }

      .i-8 {
        margin-left: 0;
        left: auto;
        right: 0;
        top: 530px;
      }
    }

    .s-4 .i-1 {
      width: 40%;
    }
  }
}

@media (max-width: 1324px) {
  .projectCuba {
    .s-2 {
      .r-2 {
        .col-1-3 {
          display: none;
        }

        .col-2-3 {
          width: 100%;
          padding: 0;
          float: none;
          text-align: center;

          img {
            float: none;
          }
        }
      }

      .r-3 {
        padding-bottom: 100px;
        text-align: center;
      }
    }

    .s-3 {
      .slides {
        text-align: center;
      }

      .i-2 {
        position: relative;
        top: -130px;
        float: left;
      }

      .i-3 {
        position: relative;
        top: -150px;
        left: 0;
      }

      .i-4 {
        position: relative;
        top: -180px;
        float: right;
      }

      .i-5 {
        clear: both;
        position: relative;
        margin: 0;
        margin-top: -330px;
        float: left;
        margin-right: 40px;
      }

      .i-7 {
        display: block;
        position: relative;
        top: -100px;
        float: left;
        right: 0;
        margin-right: 40px;
      }

      .i-8 {
        position: relative;
        top: -50px;
        float: left;
        lefT: 0;
        margin: 0;
      }

      .i-6 {
        clear: both;
        position: relative;
        top: 0;
        float: none;
        left: 0;
      }
    }

    .s-4 .i-5 {
      top: -150px;
    }
  }
}

@media (max-width: 1280px) {
  .projectCuba .s-4 {
    .i-1 {
      float: none;
      margin: 0 0 40px;
      top: 0;
      width: auto;
    }

    .i-2, .i-3, .i-4, .i-5, .i-6 {
      float: none;
      margin: 0 0 40px;
      top: 0;
    }
  }
}

@media (max-width: 1024px) {
  .projectCuba {
    .slides img {
      max-width: 100%;
    }

    .s-2 {
      .col-1-3 {
        float: left;
      }

      .col-2-3 {
        width: 64%;
        float: left;
      }
    }

    .s-4 .col-2-3 {
      width: 64%;
      float: left;
    }

    .s-3 {
      .i-2 {
        top: 0;
        float: none;
        margin-bottom: 40px;
      }

      .i-3 {
        top: 0;
        margin-bottom: 40px;
      }

      .i-4 {
        top: 0;
        float: none;
        margin-bottom: 40px;
      }

      .i-5 {
        float: none;
        margin: 0 40px 40px 0;
      }

      .i-6 {
        float: none;
        margin: 0 0 40px;
      }

      .i-7 {
        float: none;
        margin: 0 40px 40px 0;
        right: 0;
        top: 0;
        display: inline-block;
      }

      .i-8 {
        float: none;
        margin: 0 0 40px;
        top: 0;
      }
    }
  }
}

@media (max-width: 880px) {
  .projectCuba {
    .logoCover {
      width: 100%;
    }

    .s-1 .r-2 {
      padding-bottom: 50px;
    }

    .s-2 {
      .r-2, .r-3 {
        padding-bottom: 50px;
      }

      .col-1-3 {
        margin-bottom: 40px;
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
      }

      .col-2-3 {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
      }
    }

    .s-4 {
      .col-1-3, .col-2-3 {
        width: 100%;
        float: none;
        text-align: center;
        padding: 0;
      }
    }

    .s-2 {
      .r-3 .col-1-3 {
        padding-right: 0;
      }

      .r-2 .col-2-3 img {
        margin: 0 0 40px;
      }
    }

    .s-3 .i-7 {
      margin-right: 0;
    }
  }

  .projects_navi .container {
    padding: 0;
  }

  .projects_navi_item {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin: 0;

    &:first-child {
      margin-right: 0;
      text-align: left;
      border-bottom: 1px solid #c1c1c1;
      border-right: none;
    }

    a {
      display: block;
      margin: 0;
      padding: 30px 60px 30px 0;

      &:before {
        right: 20px;
        top: 42px;
      }
    }

    &:first-child a {
      padding: 30px 0 30px 60px;

      &:before {
        left: 20px;
        rigth: auto;
      }
    }
  }
}