.project.projectPiwo {
  margin-bottom: 0;
}

.projectPiwo .case-body {
  background: #201513;
}

.project.projectPiwo {
  .s-1 .container {
    background: none;
  }
  .s-2 {
    .container {
      background: none;
      text-align: center;
      padding-top: 0;
      padding-bottom: 150px;
    }
    img {
      display: inline-block;
      max-width: 100%;
    }
    .projectPiwo_imageCover {
      display: inline-block;
      position: relative;
      padding-bottom: 190px;
      h2 {
        position: absolute;
        left: 0;
        bottom: 70px;
        text-align: left;
        margin-bottom: 0;
        font-size: 50px;
      }
    }
    .col-2-2 {
      padding: 190px 30px 0;
      float: left;
      width: 50%;
      .projectPiwo_imageCover {
        padding-bottom: 50px;
        h2 {
          bottom: -70px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .project.projectPiwo {
    .row .col-1-2 {
      width: 50%;
      padding: 0 30px 0 0;
      float: left;
    }
    .s-2 .col-2-2 {
      padding: 100px 0 0;
    }
  }
}

@media (max-width: 600px) {
  .project.projectPiwo {
    .s-2 {
      .container {
        padding-bottom: 0px;
      }
      .projectPiwo_imageCover {
        padding-bottom: 50px;
      }
    }
    .row {
      .col-1-2, .col-2-2 {
        width: 100%;
        padding: 0;
        float: none;
      }
    }
    .s-2 {
      .projectPiwo_imageCover h2 {
        position: relative;
        left: 0;
        bottom: 0;
        font-size: 36px;
        padding-top: 10px;
      }
      .col-2-2 .projectPiwo_imageCover h2 {
        bottom: 0;
      }
    }
  }
}