.project {
  margin-bottom: 40px;
  .container {
    max-width: 1900px;
    padding: 0 70px;
    @media (max-width: 1024px) {
      padding: 0 30px;
    }
  }
  .case-heading {
    margin-bottom: 60px;
    h1 {
      margin-bottom: 0;
    }
    .desc {
      color: #5e5e5e;
      font-size: 17px;
      text-transform: uppercase;
    }
  }
  .case-body {
    color: #fff;
    background: #202020;
  }
  .row {
    margin: 0 -30px;
    @media (max-width: 1024px) {
      margin: 0;
    }
    .col-1-3 {
      width: 33.3335%;
      padding: 0 30px;
      float: left;
      @media (max-width: 1024px) {
        width: 100%;
        padding: 0;
        float: none;
      }
    }
    .col-1-2 {
      width: 50%;
      padding: 0 30px;
      float: left;
      @media (max-width: 1024px) {
        width: 100%;
        padding: 0;
        float: none;
      }
    }
  }
  .text {
    font-size: 19px;
  }
  .preview {
    max-width: 1900px;
    margin: 0 auto;
  }
  .section {
    position: relative;
  }
  .slides {
    position: relative;
    .img-abs {
      position: absolute;
      @media (max-width: 1024px) {
        display: none;
      }
    }
  }
  .s-1 {
    .container {
      background: image-url('bg_s1.jpg') no-repeat 100% 100%;
      @media (max-width: 1024px) {
        background: none;
      }
    }
    .r-1 {
      padding-top: 120px;
      padding-bottom: 120px;
      @media (max-width: 1024px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
    }
    .r-2 {
      padding-top: 160px;
      padding-bottom: 60px;
      @media (max-width: 1024px) {
        padding-top: 0;
      }
      .text {
        padding: 0 60px;
        @media (max-width: 1024px) {
          padding: 0;
        }
      }
    }
    .slides {
      float: right;
      .i-1 {
      position: relative;
        z-index: 3;
      }
      .i-2 {
        top: -360px;
        left: -470px;
      }
      .i-3 {
        top: 130px;
        left: -580px;
      }
      .i-4 {
        bottom: -140px;
        left: -300px;
        z-index: 3;
      }
    }
    .pack {
      position: absolute;
      bottom: -290px;
      left: 0;
      z-index: 10;
      @media (max-width: 1600px) {
        display: none;
      }
    }
  }
  .s-2 {
    background: image-url('pack_s2_1.jpg') no-repeat 100% 0;
    @media (max-width: 1024px) {
      background: none;
    }
    .container {
      background: image-url('bg_s2.jpg') no-repeat 50% 100%;
    }
    .r-1 {
      padding-top: 290px;
      padding-bottom: 270px;
      @media (max-width: 1024px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
      .col {
        width: 680px;
        padding: 0 30px;
        @media (max-width: 1024px) {
          width: auto;
          padding: 0;
        }
      }
      .text {
        text-align: right;
        @media (max-width: 1024px) {
          text-align: left;
        }
      }
    }
    .r-2 {
      clear: both;
      padding-top: 270px;
      padding-bottom: 170px;
      @media (max-width: 1024px) {
        padding-top: 60px;
        padding-bottom: 60px;
      }
      .col {
        width: 500px;
        padding: 0 30px;
        margin-left: 820px;
        @media (max-width: 1024px) {
          width: auto;
          margin: 0;
          padding: 0;
        }
      }
    }
    .slides {
      float: left;
      .i-1 {
        position: relative;
        z-index: 2;
      }
      .i-2 {
        top: -240px;
        left: 100px;
        z-index: 3;
      }
      .i-3 {
        top: -520px;
        left: 750px;
      }
      .i-4 {
        top: 130px;
        left: 1210px;
      }
      .i-5 {
        bottom: -240px;
        left: 820px;
        z-index: 3;
      }
      .i-6 {
        bottom: -420px;
        left: 220px;
      }
    }
    .bottle {
      position: absolute;
      bottom: -570px;
      right: -640px;
      z-index: 10;
      @media (max-width: 1600px) {
        display: none;
      }
    }
  }
  .s-4 {
    padding-top: 150px;
    padding-bottom: 40px;
    background: image-url('bg_s4.jpg') no-repeat 50% 0;
    @media (max-width: 1024px) {
      padding-top: 60px;
    }
    .scene {
      max-width: 1680px;
      margin: 0 auto;
    }
    .text {
      padding-bottom: 60px;
      text-align: center;
      .figure {
        margin-bottom: 40px;
      }
    }
  }
  .s-5 {
    .container {
      padding: 0;
    }
    .video-wrapper {
      position: relative;
      overflow: hidden;
      @media (max-width: 999px) {
        display: none;
      }
      iframe {
        position: relative;
        margin: -200px 0;
        height: 1156px;
        vertical-align: bottom;
        z-index: 1;
      }
    }
    .zPlayButton-wrap{position:absolute;left:0;right:0;bottom:0;top:0;background:rgba(0,0,0,0.3);cursor:pointer;z-index:2;
    transition: opacity 300ms ease;}
    .zPlayButton-wrap:hover .zPlayButton:before,.zPlayButton-wrap:hover .zPlayButton:after{
        transform: scale(1.1);
    }
    .zPlayButton {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      width: 280px;
      height: 90px;
      padding: 0 0 0 110px;
      margin: auto;
      color: #fff;
      font-weight: 700;
      font-size: 28px;
      line-height: 90px;
      cursor: pointer;
      z-index: 100;
    }
    .zPlayButton:after {    
      content: "";
      transition: all 300ms ease;
      height: 0;
      width: 0;
      display: block;
      border-top: 15px solid transparent;
      border-left: 20px solid #fff;
      border-bottom: 15px solid transparent;
      lefT: 39px;
      top: 30px;
      position: absolute;
    }
    .zPlayButton:before {
      content: "";
      transition: all 300ms ease;
      height: 90px;
      width: 90px;
      display: block;
      border: 2px solid #ccc;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 0;
    }
    .zMuteButton{
        width: 60px;
        height: 60px;
        position: absolute;
        z-index: 3;
        top: -60px;
        right: 0;
    }
    .mute-active{
        background-position: 0 -60px !important;
    }

  }
  .case-footer {
    padding: 50px 0;
    background: #f1f1f1;
    ul {
      margin: 0 -60px;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 60px;
        font-size: 30px;
        font-weight: 700;
      }
      a {
        text-decoration: none;
      }
      i {
        margin: 0 5px;
      }
    }
  }
}

.cd-image-container {
  position: relative;
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  img {
    display: block;
    max-width: 100%;
  }
  .cd-image-label {
    display: none;
  }
}

.cd-resize-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  transform: translateZ(0);
  backface-visibility: hidden;
  img {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: auto;
    max-width: none;
    height: 100%;
  }
  .is-visible & {
    width: 50%;
    animation: cd-bounce-in .7s;
  }
}

@keyframes cd-bounce-in {
  0% {width: 0;}
  60% {width: 55%;}
  100% {width: 50%;}
}

.cd-handle {
  position: absolute;
  height: 61px;
  width: 61px;
  left: 50%;
  top: 50%;
  margin-left: -30px;
  margin-top: -30px;
  border-radius: 50%;
  background: image-url('cd-handle.png') no-repeat 0 0;
  box-shadow: 0 0 6px 0 rgba(#000,.2);
  transform: translate3d(0,0,0) scale(0);
  opacity: 0;
  cursor: move;
  .is-visible & {
    opacity: 1;
    transform: translate3d(0,0,0) scale(1);
    transition: transform .3s .7s, opacity 0s .7s;
  }
}
