.welcome-slider {
  position: relative;
  padding: 0 30px;
  margin-bottom: 30px;
  @media (max-width: 768px) {
    padding: 0;
    margin-bottom: 15px;
  }
  .swiper-container,
  .swiper-slide {
    width: 100%;
    overflow: hidden;
  }
  .swiper-button-prev,
  .swiper-button-next {
    @media (max-width: $screen-xs-max) {
      display: none;
    }
  }
  .swiper-button-prev {
    left: 25px;
  }
  .swiper-button-next {
    right: 25px;
    background-position: 100% 0;
  }
  .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 70px;
    color: #fff;
    @media (max-width: $screen-xs-max) {
      padding: 30px;
    }
    .title {
      font-size: 100px;
      font-weight: 700;
      line-height: 1;
      @media (max-width: $screen-xs-max) {
        font-size: 60px;
      }
    }
    .desc {
      margin-bottom: 15px;
      font-size: 24px;
      @media (max-width: $screen-xs-max) {
        font-size: 20px;
      }
    }
    .btn {
      display: inline-block!important;
      height: 44px!important;
      width: auto!important;
    }
  }
}