.page-footer {
  padding: 30px;
  .wrap {
    @media (min-width: 1368px) {
      padding: 0 70px;
    }
  }
  .logo-wrap {
    @media (min-width: 1025px) {
      width: 30%;
      float: left;
    }
  }
  .logo {
    display: block;
    width: 148px;
    height: 112px;
    margin-bottom: 30px;
    background: image-url('logo_sm_reverse.png') no-repeat 0 0;
    @include image-2x('logo_sm_reverse@2x.png', 148px, 112px);
  }
  .contact-details {
    margin: 0 -15px;
    @media (min-width: 1025px) {
      width: 70%;
      float: left;
    }
    .contact-block {
      padding: 0 15px;
      float: left;
      @media (min-width: 992px) {
        &:nth-child(1) {
          width: 40%;
        }
        &:nth-child(2),
        &:nth-child(3) {
          width: 30%;
        }
      }
    }
    .dl {
      margin-bottom: 22px;
    }
    .dt {
      font-size: 24px;
      font-weight: 700;
    }
    .dd {
      font-size: 22px;
      font-weight: 300;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .social {
    padding-top: 10px;
    a {
      color: #7f7f7f;
      &:hover {
        color: #111;
      }
    }
  }
  .bottom {
    padding-top: 10px;
    color: #515051;
    font-size: 16px;
    .policy {
      margin-bottom: 5px;
      font-weight: 700;
    }
  }
}