.page-header {
  padding: 45px 30px;
  @media (max-width: 768px) {
    padding: 30px;
  }
  &.inner {
    height: 300px;
    @media (max-width: 1024px) {
      height: 250px;
    }
  }
  .logo {
    display: block;
    position: absolute;
    top: 9px;
    left: 70px;
    width: 175px;
    height: 141px;
    background: image-url('logo.png') no-repeat 0 0;
    @include image-2x('logo@2x.png', 175px, 141px);
    z-index: 10;
    @media (max-width: 1024px) {
      left: 30px;
    }
    @media (max-width: 768px) {
      top: -6px;
      left: 0;
    }
  }
  .panel {
    height: 30px;
    float: right;
  }
  .contact-details {
    float: left;
    @media (max-width: $screen-xs-max) {
      display: none;
    }
    li {
      float: left;
      margin-left: 30px;
      font-size: 20px;
      line-height: 30px;
    }
  }
  .nav-toggle {
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0 0 0 40px;
    float: left;
    border: 0;
    background: image-url('nav_toggle.png') no-repeat 0 0;
    @include image-2x('nav_toggle@2x.png', 30px, 30px);
  }
}