body {
  &.noscroll {
    overflow: hidden;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #919191;
  background: #262425;
  transition: opacity .75s, z-index 0 1s;
  opacity: 0;
  z-index: -1;
  @media (max-width: 992px) {
    overflow-y: auto;
  }
  &.active {
    transition: opacity .5s;
    opacity: 1;
    z-index: 99;
  }
  .nav-close {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 30px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 0;
    background: image-url('nav_close.png') no-repeat 0 0;
    @include image-2x('nav_close@2x.png', 30px, 30px);
    @media (max-width: 667px) {
      top: 20px;
      right: 15px;
    }
  }
  .logo {
    display: block;
    width: 148px;
    height: 112px;
    margin-bottom: 50px;
    background: image-url('logo_sm.png') no-repeat 0 0;
    @include image-2x('logo_sm@2x.png', 148px, 112px);
  }
  .sidebar-nav {
    li {
      margin-bottom: 30px;
      font-size: 70px;
      font-weight: 700;
      line-height: 1;
      transition: transform .25s ease-in, opacity .5s;
      transform: translateY(100%);
      opacity: 0;
      &:nth-child(1) {
        transition-delay:.088s;
        transition-duration:.151s;
      }
      &:nth-child(2) {
        transition-delay:.076s;
        transition-duration:.152s;
      }
      &:nth-child(3) {
        transition-delay:.064s;
        transition-duration:.153s;
      }
      &:nth-child(4) {
        transition-delay:.052s;
        transition-duration:.154s;
      }
      a {
        color: #fff;
        text-decoration: none;
      }
    }
  }
  .contact-details {
    transition: transform .25s ease-in, opacity .5s;
    transform: translateY(100%);
    transition-delay:.04s;
    transition-duration:.155s;
    opacity: 0;
    .dl {
      margin-bottom: 22px;
    }
    .dt {
      color: #fff;
      font-size: 26px;
    }
    .dd {
      font-size: 24px;
      font-weight: 300;
    }
    .social {
      a {
        color: #fff;
      }
    }
  }
  .sidebar-content {
    position: relative;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    &.active {
      .sidebar-nav {
        li {
          transition: transform .5s, opacity .4s;
          transform: translateY(0);
          opacity: 1;
          &:nth-child(1) {
            transition-delay:.012s;
            transition-duration:.151s;
          }
          &:nth-child(2) {
            transition-delay:.024s;
            transition-duration:.152s;
          }
          &:nth-child(3) {
            transition-delay:.036s;
            transition-duration:.153s;
          }
          &:nth-child(4) {
            transition-delay:.048s;
            transition-duration:.154s;
          }
        }
      }
      .contact-details {
        margin-bottom: 30px;
        transition: transform .5s, opacity .4s;
        transition-delay: .06s;
        transition-duration: .155s;
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 50px 100px;
    @media (max-width: 667px) {
      display: block;
      padding: 50px 10px;
    }
    .flex-block {
      display: inline-block;
      padding: 0 10px;
      vertical-align: top;
      @media (min-width: 668px) {
        min-height: 370px;
      }
      @media (max-width: 667px) {
        display: block;
      }
    }
  }
}

.social {
  padding: 5px 0 0;
  margin: 0;
  font-size: 0;
  line-height: 1;
  list-style: none;
  white-space: nowrap;
  li {
    display: inline-block;
    margin-right: 25px;
    vertical-align: top;
  }
  a {
    font-size: 20px;
    text-decoration: none;
  }
}