doctype html
html lang="pl"
  head
    //= tpl/global/head.slim
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
    script src="js/map.js"
  body
    .page
      header.page-header.inner
        //= tpl/layout/header.slim
      //= tpl/layout/sidebar.slim
      .page-body
        //= tpl/modules/contact.slim
    //= tpl/global/scripts.slim