doctype html
html lang="pl"
  head
    //= tpl/global/head.slim
  body
    .page
      header.page-header.inner
        //= tpl/layout/header.slim
      //= tpl/layout/sidebar.slim
      .page-body
        //= tpl/modules/expo2017.slim
      footer.page-footer
        //= tpl/layout/footer.slim
    //= tpl/global/scripts.slim