doctype html
html lang="pl"
  head
    //= tpl/global/head.slim
  body
    .page
      header.page-header
        //= tpl/layout/header.slim
      //= tpl/layout/sidebar.slim
      .page-body
        //= tpl/modules/welcome-slider.slim
        //= tpl/modules/news.slim
        //= tpl/modules/clients.slim
        //= tpl/modules/feedback.slim
      footer.page-footer
        //= tpl/layout/footer.slim
    //= tpl/global/scripts.slim