.case.project.projectPiwo
  .case-heading
    .container
      h1
        | Brovary product
      .desc
        | photography / 2016
  .case-body
    .preview
      img.img-responsive alt="" src="public/proj_piwo/proj_piwo_head.jpg" /
    .section.s-1
      .container
        .row.r-1
          .col-1-3
            h2
              | Blablablaaaa
          .col-1-3
            .text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
              .afterText
                span
                  a href="obolon.pl" target="_blank" title="obolon.pl"  obolon.pl
          .col-1-3
            .text
              p
                | Maecenas feugiat sit amet tortor in condimentum. Phasellus viverra metus orci, nec volutpat purus sagittis id. Fusce eget leo velit. Sed et magna nec urna venenatis vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
    .section.s-2
      .container
        .row
          .col-1-2
            .projectPiwo_imageCover
              img.img-responsive.i-1.wow.fadeInUp alt=("Kaiserdom Dark") data-wow-delay="0s" src="public/proj_piwo/pp_foto_1.jpg" /
              h2
                | Kaiserdom
                br/
                | Dark
          .col-2-2
            .projectPiwo_imageCover
              img.img-responsive.i-2.wow.fadeInUp alt=("Funnel Blower") data-wow-delay="500ms" src="public/proj_piwo/pp_foto_2.jpg" /
              h2
                | Funnel
                br/
                | Blower
        .row
          .col-1-2
            .projectPiwo_imageCover
              img.img-responsive.i-1.wow.fadeInUp alt=("Kaiserdom Dark") data-wow-delay="0s" src="public/proj_piwo/pp_foto_3.jpg" /
              h2
                | Kaiserdom
                br/
                | Dark
          .col-2-2
            .projectPiwo_imageCover
              img.img-responsive.i-2.wow.fadeInUp alt=("Funnel Blower") data-wow-delay="500ms" src="public/proj_piwo/pp_foto_4.jpg" /
              h2
                | Funnel
                br/
                | Blower
        .row
          .col-1-2
            .projectPiwo_imageCover
              img.img-responsive.i-1.wow.fadeInUp alt=("Kaiserdom Dark") data-wow-delay="0s" src="public/proj_piwo/pp_foto_5.jpg" /
              h2
                | Kaiserdom
                br/
                | Dark
          .col-2-2
            .projectPiwo_imageCover
              img.img-responsive.i-2.wow.fadeInUp alt=("Funnel Blower") data-wow-delay="500ms" src="public/proj_piwo/pp_foto_6.jpg" /
              h2
                | Funnel
                br/
                | Blower
        .row
          .col-1-2
            .projectPiwo_imageCover
              img.img-responsive.i-1.wow.fadeInUp alt=("Kaiserdom Dark") data-wow-delay="0s" src="public/proj_piwo/pp_foto_7.jpg" /
              h2
                | Kaiserdom
                br/
                | Dark
          .col-2-2
            .projectPiwo_imageCover
              img.img-responsive.i-2.wow.fadeInUp alt=("Funnel Blower") data-wow-delay="500ms" src="public/proj_piwo/pp_foto_8.jpg" /
              h2
                | Funnel
                br/
                | Blower
  .projects_navi
    .container
      span.projects_navi_item
        a href="/expo2017.html" title=("EXPO Astana 2017")  EXPO Astana 2017
      span.projects_navi_item
        a href="/udh.html" title=("UDH.pl")  UDH.pl