.case.clients
  .row
    .caption-wrap
      h2 You may know some of our clients
    .clients-list
      ul
        li: img width='200' height='200' src='public/clients/logo_obolon.png' alt="Obolon"
        li: img width='200' height='200' src='public/clients/logo_oeg.png' alt="OEG"
        li: img width='200' height='200' src='public/clients/logo_welmax.png' alt="Welamx"
        li: img width='200' height='200' src='public/clients/logo_policja.png' alt="Szkola policji"
        li: img width='200' height='200' src='public/clients/logo_yes.png' alt="YES"
        li: img width='200' height='200' src='public/clients/logo_inbev.png' alt="InBev"