.case.contact
  .row
    .caption-wrap
      h1 Contact
    .contact-details
      .contact-block
        .dl
          .dt Ars-Vision Sp. z o.o.
          .dd 60-461 Poznań
          .dd ul. Teokryta 35
        .dl
          .dt Telephone number
          .dd +48 794 079 729
      .contact-block
        .dl
          .dd NIP: PL2090003120
          .dd REGON: 302675968
          .dd KRS: 0000495986
          / .dd Bank: City Handlowy
          / .dd Account number: 86 1030 0019 0109 8503 0007 1572
        .dl
          .dt Talk to us
          .dd
            a href='mailto:hello@ars.vision' hello@ars.vision
      .contact-block
        .dl
          .dt Let’s be friends
          ul.social
            li: a target="_blank" href="https://twitter.com/ars_vision": i.fa.fa-twitter
            li: a target="_blank" href="https://www.facebook.com/Ars-Vision-1094259237291419/": i.fa.fa-facebook
            / li: a target="_blank" href="#": i.fa.fa-google-plus
            li: a target="_blank" href="https://www.linkedin.com/company/10525594": i.fa.fa-linkedin
            li: a target="_blank" href="https://www.instagram.com/arsvision/": i.fa.fa-instagram
.case.map
  #google-map