.case.project.projectCuba
  .case-heading
    .container
      h1
        | Adwokat Staszczyk
      .desc
        | website / 2016
  .case-body
    .preview
      img.img-responsive alt="" src="public/proj_cuba_head.jpg" /
    .section.s-1
      .container
        .row.r-1
          .col-1-3
            h2
              | Identyfikacja
              br>/
              | wizualna
          .col-1-3
            .text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
              .afterText
                span
                  a href="obolon.pl" target="_blank" title="obolon.pl"  obolon.pl
          .col-1-3
            .text
              p
                | Maecenas feugiat sit amet tortor in condimentum. Phasellus viverra metus orci, nec volutpat purus sagittis id. Fusce eget leo velit. Sed et magna nec urna venenatis vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
        .row.r-2
          .logoCover
            img.img-responsive.i-1.wow.fadeInUp alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_logo_1.png" /
            img.img-responsive.i-2.wow.fadeInUp alt=("Adwokat Staszczyk") data-wow-delay="1s" src="public/proj_cuba/pc_logo_2.png" /
            img.img-responsive.i-3.wow.fadeInUp alt=("Adwokat Staszczyk") data-wow-delay="2s" src="public/proj_cuba/pc_logo_3.png" /
    .section.s-2
      .container
        .row.r-1
          .col-1-3
            img.img-responsive.i-1.wow.fadeInLeft alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_r2_left.jpg" /
          .col-2-3
            img.img-responsive.i-2.wow.fadeInRight alt=("Adwokat Staszczyk") data-wow-delay="1s" src="public/proj_cuba/pc_r2_right.jpg" /
        .row.r-2
          .col-1-3  
          .col-2-3
            img.img-responsive.i-1.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_r3_small1.jpg" /
            img.img-responsive.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_r3_small2.jpg" /
        .row.r-3
          .col-1-3
            h2
              | Strona www
            .text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
          .col-2-3
            img.img-responsive.i-1.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_scrren_1.jpg" /
    .section.s-3
      .container
        .slides
          img.i-2.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_scrren_2.jpg" /
          img.i-3.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_scrren_3.jpg" /
          img.i-4.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="800ms" src="public/proj_cuba/pc_scrren_4.jpg" /
          img.i-5.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="1100ms" src="public/proj_cuba/pc_scrren_5.jpg" /
          img.i-7.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="1500ms" src="public/proj_cuba/pc_scrren_7.jpg" /
          img.i-8.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="1800ms" src="public/proj_cuba/pc_scrren_8.jpg" /
          img.i-6.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="1400ms" src="public/proj_cuba/pc_scrren_6.jpg" /
    .section.s-4
      .container
        .row.r-1
          .col-1-3
            h2
              | Sesja zdjęciowa
            .text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
          .col-2-3
            img.img-responsive.i-2.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="0s" src="public/proj_cuba/pc_foto_2.jpg" /
        .slides
          img.i-1.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_foto_1.jpg" /
          img.i-3.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_foto_3.jpg" /
          img.i-4.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_foto_4.jpg" /
          img.i-5.wow.fadeIn alt=("Adwokat Staszczyk") data-wow-delay="500ms" src="public/proj_cuba/pc_foto_5.jpg" /
  .projects_navi
    .container
      span.projects_navi_item
        a href="/udh.html" title=("UDH.pl")  UDH.pl
      span.projects_navi_item
        a href="/food.html" title=("Food photography")  Food photograph