.case.project2
  .case-heading
    .container
      h1 EXPO 2017
      .desc website / 2013
  .case-body
    .preview
      img.img-responsive src="public/proj_preview2.jpg" alt=""
    .section.s-1
      .container
        .row.r-1
          .col-1-2
            .text
              p On November 22, 2012 Astana was chosen as the venue to host EXPO-2017, which will focus on the theme «Future Energy». The theme is aimed to concentrate on both the future of energy, but also on innovative, but practical energy solutions, and their global impact.
              p EXPO-2017 will be the first time that a major international exhibition of this kind is coming to a country from the former Soviet Union. More than 100 countries and 10 international organizations are expected to participate. Around 3 million people are expected to visit the international pavilions from June to September 2017.
              p What should a website that represents EXPO 2017, one of the greatest events in the world, look like?
              p Ars-Vision team has the answer to this question. They were responsible for design and development of EXPO 2017 website and logo.
      img.tablet src="img/tablet.png" alt=""
      img.phone src="img/phone.png" alt=""
    .section.s-2
      .container
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_01.jpg" alt=""
    .section.s-3
      .container.text-center
        .slides
          img.img-responsive.i-1.wow.fadeIn data-wow-delay="0s" src="img/ipad.png" alt=""
          img.img-abs.i-2.wow.fadeInRight data-wow-delay=".2s" src="img/msg_1.png" alt=""
          img.img-abs.i-3.wow.fadeInLeft data-wow-delay=".4s" src="img/msg_2.png" alt=""
    .section.s-4
      .container
        .captured
          h2 latest posts
          .desc a list split into 3 separate columns
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_02.jpg" alt=""
        .captured
          h2 latest posts
          .desc a grid view of the latest posts
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_03.jpg" alt=""
    .section.s-5
      .container
        .captured
          h2 post view
          .desc posts are shown in a layered element
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_04.jpg" alt=""
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_05.jpg" alt=""
    .section.s-6
      .container
        .captured
          h2 gallery
          .desc gallery showcasing visual content in a grid view
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_06.jpg" alt=""
    .section.s-7
      .container
        .captured
          h2 calendar
          .desc calandar uses independent scrolling columns to showcase each day’s news and events
        .figure.text-center
          img.img-responsive.wow.fadeInUp data-wow-delay="0s" src="public/proj_s_07.jpg" alt=""
    .section.s-8
      .container
        .figure.text-center
          img.img-responsive.wow.fadeIn data-wow-delay=".2s" src="img/phones.png" alt=""
  .projects_navi
    .container
      span.projects_navi_item
        a href="/obolon.html" title=("Obolon Brewery Commercial")  Obolon Brewery Commercial
      span.projects_navi_item
        a href="/brovary.html" title=("Brovary product")  Brovary product