.case.feedback
  .fieldset
    form method="post" action="emails.php"
      input name='email' type="text" placeholder="Leave your email address"
      button type="submit": i.fa.fa-angle-right
  .desc For recovering best design innovtion, and business links on the web