.case.project.projectRest
  .case-heading
    .container
      h1
        | Boś tam coś tam
      .desc
        | photography / 2016
  .case-body
    .preview
      img.img-responsive alt="" src="public/proj_restauracja/proj_rest_head.jpg" /
    .section.s-1
      .container
        .row.r-1
          .col-1-3
            h2
              | Blablablaaaa
          .col-1-3
            .text
              p
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
              .afterText
                span
                  a href="obolon.pl" target="_blank" title="obolon.pl"  obolon.pl
          .col-1-3
            .text
              p
                | Maecenas feugiat sit amet tortor in condimentum. Phasellus viverra metus orci, nec volutpat purus sagittis id. Fusce eget leo velit. Sed et magna nec urna venenatis vehicula. Class aptent taciti sociosqu ad litora torquent per conubia nostra.
        .row.r-2
          img.img-responsive.i-1.wow.fadeInUp alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_1.jpg" /
          img.img-responsive.i-2.wow.fadeInUp alt="Farsch" data-wow-delay="300ms" src="public/proj_restauracja/proj_rest_foto_2.jpg" /
          img.img-responsive.i-3.wow.fadeInUp alt="Farsch" data-wow-delay="300ms" src="public/proj_restauracja/proj_rest_foto_3.jpg" /
        .row.r-3
          .col-1-3
            img.img-responsive.i-4.wow.fadeInUp alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_4.jpg" /
          .col-1-3
            img.img-responsive.i-5.wow.fadeInUp alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_5.jpg" /
          .col-1-3
            img.img-responsive.i-6.wow.fadeInUp alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_6.jpg" /
        img.img-responsive.i-0.wow.fadeInRight alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_pan.png" /
    .section.s-2
      .container
        .row
          img.img-responsive.i-7.wow.fadeInUp alt="Farsch" data-wow-delay="1200ms" src="public/proj_restauracja/proj_rest_foto_7.jpg" /
          img.img-responsive.i-8.wow.fadeInUp alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_8.jpg" /
          img.img-responsive.i-12.wow.fadeInUp alt="Farsch" data-wow-delay="500ms" src="public/proj_restauracja/proj_rest_foto_12.jpg" /
          img.img-responsive.i-9.wow.fadeInRight alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_9.jpg" /
          img.img-responsive.i-10.wow.fadeInRight alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_10.jpg" /
          img.img-responsive.i-11.wow.fadeInLeft alt="Farsch" data-wow-delay="0s" src="public/proj_restauracja/proj_rest_foto_11.jpg" /
  .projects_navi
    .container
      span.projects_navi_item
        a href="/cuba.html" title=("Adwokat Staszczyk")  Adwokat Staszczyk
      span.projects_navi_item
        a href="/obolon.html" title=("Obolon Brewery Commercial")  Obolon Brewery Commercial