.case.news
  .row
    .caption-wrap
      h2 Find out<br /> what's new
      .arrows
        span.swiper-button-prev: i.fa.fa-angle-left
        span.swiper-button-next: i.fa.fa-angle-right
    .news-list
      #slider-2.swiper-container
        .swiper-wrapper
          .swiper-slide
            .figure.imgLiquidFill
              img src="public/slide_1.jpg" alt=""
            .info
              .num 01
              .title Nova strona Browaru Obolon
              .desc
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit sollicitudin faucibus erat id interdum. Vivamus ornare, erat eu dapibus placerat, diam orci aliquet augue, a ultrices ipsum diam quis nulla.
                p Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
          .swiper-slide
            .figure.imgLiquidFill
              img src="public/slide_1.jpg" alt=""
            .info
              .num 01
              .title Nova strona Browaru Obolon
              .desc
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit sollicitudin faucibus erat id interdum. Vivamus ornare, erat eu dapibus placerat, diam orci aliquet augue, a ultrices ipsum diam quis nulla.
                p Maecenas ut accumsan lacus. Vivamus pharetra eget ipsum ut lobortis. Nam lorem nulla, dictum at turpis in, imperdiet rhoncus velit. Etiam eu tempor mi, eu bibendum quam. Nulla auctor sodales nunc vitae rhoncus.
            