.case.project
  .case-heading
    .container
      h1 Obolon Brewery Commercial
      .desc commercial / 2014
  .case-body
    .preview
      img.img-responsive src="public/proj_preview.jpg" alt=""
    .section.s-1
      .container
        .row.r-1
          .col-1-3
            h2 Idea
          .col-1-3
            .text
              p Obolon to największy browar na Ukrainie. Choć idzie z duchem czasu i do produkcji piwa używa nowoczesnych technologii, postanowliśmy pokazać go z nieco innej strony.
          .col-1-3
            .text
              p Naszą wizją było ukazanie piwa jako połączenia trzech żywiołów, reprezentowanych przez jęczmień, chmiel i wodę.
        .row.r-2
          .col-1-2
            p &nbsp;
          .col-1-2
            .text
              h3 Piękna historia
              p Pokazaliśmy jak, w metaforyczny sposób, rodzi się butelka doskonałego ukraińskiego piwa.
        .slides
          img.img-responsive.i-1.wow.fadeIn data-wow-delay="0s" src="public/proj_i_11.jpg" alt=""
          img.img-abs.i-2.wow.fadeInRight data-wow-delay=".2s" src="public/proj_i_12.jpg" alt=""
          img.img-abs.i-3.wow.fadeInRight data-wow-delay=".4s" src="public/proj_i_13.jpg" alt=""
          img.img-abs.i-4.wow.fadeInRight data-wow-delay=".6s" src="public/proj_i_14.jpg" alt=""
      img.pack src="img/pack_s1_1.png" alt=""
    .section.s-2
      .container
        .row.r-1
          .col
            .text
              h3 Wirtualne szyszki
              p Udało nam się stworzyć spektakularne przedstawienie, łącząc trójwymiarowa animację z niesamowitą symfoniczną muzyką.
        .slides
          img.img-responsive.i-1.wow.fadeIn data-wow-delay="0s" src="public/proj_i_21.jpg" alt=""
          img.img-abs.i-2.wow.fadeInLeft data-wow-delay=".2s" src="public/proj_i_22.jpg" alt=""
          img.img-abs.i-3.wow.fadeInLeft data-wow-delay=".4s" src="public/proj_i_23.jpg" alt=""
          img.img-abs.i-4.wow.fadeInLeft data-wow-delay=".5s" src="public/proj_i_24.jpg" alt=""
          img.img-abs.i-5.wow.fadeInLeft data-wow-delay=".6s" src="public/proj_i_25.jpg" alt=""
          img.img-abs.i-6.wow.fadeInLeft data-wow-delay=".8s" src="public/proj_i_26.jpg" alt=""
          img.bottle.wow.slideInRight data-wow-delay=".6s" src="img/bottle.png" alt=""
        .row.r-2
          .col
            .text
              h3 Liczy się każdy detal
              p Doskonale odwzorowane opakowanie, będące znakiem firmowym produktów firmy Obolon stanowi znakomitą puentę filmu.
    .section.s-3
      .container
        figure.cd-image-container
          img src="public/img_render_1.jpg"
          span.cd-image-label data-type="original"
          .cd-resize-img
            img src="public/img_render_2.jpg"
            span.cd-image-label data-type="modified"
          span.cd-handle
    .section.s-4
      .container
        .text
          .figure
            img src="img/logo_obolon.png" alt="" 
          p Dzięki najnowocześniejszym technikom animacji stworzyliśmy niesablonowe, porywające widowisko.
      .scene
        img.img-responsive src="public/scene.png" alt=""
    .section.s-5
      .container
        .video-wrapper
          //.zPlayButton Zobacz spot
          <iframe src="https://player.vimeo.com/video/132760453" width="100%" height="1148" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  .projects_navi
    .container
      span.projects_navi_item
        a href="/food.html" title=("Food photography")  Food photography
      span.projects_navi_item
        a href="/expo2017.html" title=("EXPO 2017")  EXPO 2017