.case.portfolio
  .case-heading.wrapped
    h1 Just some of our latest projects
  .case-body
    .items
      .item
        a.item-link href="obolon.html"
        .figure.imgLiquidFill
          img src="public/works/obolon.jpg" alt="Obolon Commercial"
        .caption
          .title Obolon
          .desc.text-uppercase TV commercial
      .item
        a.item-link href="expo2017.html"
        .figure.imgLiquidFill
          img src="public/works/expo2017.jpg" alt="Expo 2017"
        .caption
          .title Expo 2017
          .desc.text-uppercase website
      .item
        a.item-link href="brovary.html" 
        .figure.imgLiquidFill
          img src="public/works/udh.jpg" alt="Brovary product"
        .caption
          .title Brovary product
          .desc.text-uppercase photography	
	  .item
        a.item-link href="udh.html" 
        .figure.imgLiquidFill
          img src="public/works/udh_new.jpg" alt="UDH.pl"
        .caption
          .title UDH.pl
          .desc.text-uppercase website
	    
	  .item
        a.item-link href="cuba.html" 
        .figure.imgLiquidFill
          img src="public/works/cuba.jpg" alt="Adwokat Staszczyk"
        .caption
          .title Adwokat Staszczyk
          .desc.text-uppercase website
	  .item
        a.item-link href="food.html" 
        .figure.imgLiquidFill
          img src="public/works/food.jpg" alt="Food"
        .caption
          .title Food
          .desc.text-uppercase photography	  