.case.project.projectUDH
  .case-heading
    .container
      h1
        | UDH - FMCG trading & distribution
      .desc
        | website / 2014
  .case-body
    .preview
      img.img-responsive alt="" src="public/proj_udh/proj_udh_head.jpg" /
    .section.s-1
      .container
        .row.r-1
          .col-1-3
            h2
              | Idea
          .col-1-3
            .text
              p
                | UDH company is the third-largest importer of beer in Poland, with the official and exclusive distributor of the world's largest brewer Anheuser Busch InBev.
              .afterText
                span
                  a href="udh.pl" target="_blank" title="udh.pl"  udh.pl
          .col-1-3
            .text
              p
                | The aim of the site is promotion and guardianship of more than 20 brands of beers, including a world-known as Stella Artois, Beck`s, Hoegaarden, Leffe, Corona Extra and regional crafting Brovary.
        .row.r-2
          img.img-responsive.i-1.wow.fadeInLeft alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/pu_mac.png" /
        .row.r-3
          img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/pu_18.png" /
        .row.r-4
          img.img-responsive.i-3.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="300ms" src="public/proj_udh/pu_screen1.jpg" /
    .section.s-2
      .container
        .row.r-1
          .col-1-4
            h2
              | List of brands
            .text
              p
                | Company's offer composes more than 150 products including soft drinks. For customer convenience implemented a convenient mechanism for filtering products to tastes and regions.
          .col-3-4
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/pu_screen2.jpg" /
    .section.s-3
      .container
        .row.r-1
          .col-1-4
            h2
              | Landing page
            .text
              p
                | This is one of the most important pages on a site. The original location of the bottle in the center is a little "know-how" from ArsVision. On the left side is a description of the flavor qualities of the product, on the right - trade data. Below (we) collected events and news related to the product.
          .col-3-4
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/pu_screen3.jpg" /
    .section.s-4
      .container
        .row.r-1
          img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/pu_screen4.jpg" /
        .row.r-2
          .projectUDH_logosCover
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_becks_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_belle-vue_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_steam-box_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_corona_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_czernichowkie_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_franziskaner_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_great-heck_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_hoegaareden_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_kaiserdorm_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_leffe_sm.png" /
            img.img-responsive.i-1.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_lowerbrau_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_obolon_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_doms_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_salitos_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_schnitzer-brau_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_samson_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_spaten_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_stella_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_svyturys_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_brick_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_wold-top_sm.png" /
            img.img-responsive.i-2.wow.fadeInUp alt="OBOLON.PL" data-wow-delay="0s" src="public/proj_udh/logos/logo_lwowskie_sm.png" /
  .projects_navi
    .container
      span.projects_navi_item
        a href="/brovary.html" title=("Brovary product")  Brovary product
      span.projects_navi_item
        a href="/cuba.html" title=("Adwokat Staszczyk")  Adwokat Staszczyk