.case.welcome-slider
  #slider-1.swiper-container
    .swiper-wrapper
      .swiper-slide.imgLiquidFill
        img src="public/slides/obolon.jpg" alt="Obolon"
        .caption
          .title Obolon
          .desc 1st Ukrainian beer 
          a.btn.btn-white href="obolon.html" See more 
      .swiper-slide.imgLiquidFill
        img src="public/slides/expo2017.jpg" alt="Expo 2017"
        .caption
          .title Expo 2017
          .desc Future Energy
          a.btn.btn-white href="expo2017.html" See more
      .swiper-slide.imgLiquidFill
        img src="public/slides/udh.jpg" alt="UDH"
        .caption
          .title UDH
          .desc The only ABInBev distributor in Poland
          a.btn.btn-white href="udh.html" See more
      .swiper-slide.imgLiquidFill
        img src="public/slides/brovary.jpg" alt="Brovary product photography"
        .caption
          .title
            | Brovary product
            br/
            | photography
          .desc Meet your neighbor
          a.btn.btn-white href="brovary.html" See 
	  .swiper-slide.imgLiquidFill
        img src="public/slides/food.jpg" alt="Product photography"
        .caption
          .title
            | Product
            br/
            | photography
          .desc Meet your neighbor
          a.btn.btn-white href="food.html" See more	  

    .swiper-button-prev.swiper-button-white
    .swiper-button-next.swiper-button-white