.wrap
  .row
    .logo-wrap
      a.logo href="#"
    .contact-details
      .contact-block
        .dl
          .dt Talk to us
          .dd
            a href='mailto:hello@ars.vision' hello@ars.vision
        .dl
          .dt Office
          .dd
            a href='mailto:office@ars.vision' office@ars.vision
      .contact-block
        .dl
          .dt Telephone number
          .dd +48 794 079 729
        .dl
          .dt Address
          .dd 60-461 Poznań
          .dd ul. Teokryta 35
      .contact-block
        .dl
          .dt Let’s be friends
          ul.social
            li: a target="_blank" href="https://twitter.com/ars_vision": i.fa.fa-twitter
            li: a target="_blank" href="https://www.facebook.com/Ars-Vision-1094259237291419/": i.fa.fa-facebook
            / li: a target="_blank" href="#": i.fa.fa-google-plus
            li: a target="_blank" href="https://www.linkedin.com/company/10525594": i.fa.fa-linkedin
            li: a target="_blank" href="https://www.instagram.com/arsvision/": i.fa.fa-instagram
  .bottom
    / .policy Privacy Policy
    .copyright © 2016 Ars-Vision