.sidebar
  .sidebar-content.flex-container
    button.nav-close type="button"
    .flex-block
      a.logo href="index.html"
    .flex-block
      ul.sidebar-nav
        li: a href="work.html" Work
        / li: a href="#" Services
        / li: a href="#" Blog
        li: a href="contact.html" Contact
    .flex-block
      .contact-details
        .dl
          .dt Talk to us
          .dd hello@ars.vision
        .dl
          .dt Telephone number
          .dd +48 794 079 729
        .dl
          .dt Address
          .dd 60-461 Poznań
          .dd ul. Teokryta 35
        ul.social
          li: a target="_blank" href="https://twitter.com/ars_vision": i.fa.fa-twitter
          li: a target="_blank" href="https://www.facebook.com/Ars-Vision-1094259237291419/": i.fa.fa-facebook
          / li: a target="_blank" href="#": i.fa.fa-google-plus
          li: a target="_blank" href="https://www.linkedin.com/company/10525594": i.fa.fa-linkedin
          li: a target="_blank" href="https://www.instagram.com/arsvision/": i.fa.fa-instagram