* {
  @include box-sizing(border-box);
}

html,
body {
  height: 100%;
}

body {
  background: #fff;
}

.hidden {display: none;}
.pull-left {float: left!important;}
.pull-right {float: right!important;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-justify {text-align: justify;}
.text-center {text-align: center;}
.text-uppercase {text-transform: uppercase;}
.clearfix {@include clearfix();}
img.img-responsive {
  display: block; 
  max-width: 100%;
  .text-center & {
    margin: 0 auto;
  }
}


.page {
  //max-width: 1920px;
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.container {
  @include clearfix();
  position: relative;
  margin: 0 auto;
}

.row {
  @include clearfix();
  position: relative;
}