input,
select,
button,
textarea {
  color: #333;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  outline: none!important;
}

textarea {
  resize: vertical;
  overflow: auto;
}

button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  height: 44px;
  padding: 9px 40px;
  color: #111!important;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  vertical-align: middle;
  border: 2px solid #111;
  background: transparent;
  cursor: pointer;
}

.btn-white {
  border-color: #fff;
  background: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

.form-group {
  @include clearfix();
  margin-bottom: 12px;
  position: relative;
}

.form-inline {
  @include clearfix();
  .form-group {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
  }
}

.form-control {
  width: 100%;
  height: 40px;
  padding: 10px 15px;
  font-size: 16px;
  border: 1px solid #242321;
  background: transparent;
  border-radius: 3px;
}