%font-base {font-family: 'Neuzeit', Helvetica, Arial, sans-serif;}

$color-primary: #2d4f9d;
$color-secondary: #db0000;

.color-primary {color: $color-primary;}
.color-secondary {color: $color-secondary;}

body {
  @extend %font-base;
  color: #333;
  font-size: 14px;
  line-height: 1.4;
}

a {
  color: #515151;
  text-decoration: none;
  outline: none;
  &:hover {
    color: #111;
    text-decoration: underline;
  }
}

b {
  font-weight: 700;
}

h1, .h1 {
  margin-bottom: 60px;
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  @media (max-width: 1024px) {
    margin-bottom: 40px;
    font-size: 50px;
  }
}

h2, .h2 {
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: 700;
  line-height: 1;
}

h3, .h3 {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
}

h4, .h4 {
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 1.1;
}

.wrapped {
  padding: 0 70px;
  @media (max-width: 1024px) {
    padding: 0 30px;
  }
}