meta charset="utf-8"
meta http-equiv="X-UA-Compatible" content="IE=edge"
meta name="viewport" content="width=device-width, initial-scale=1"
meta name="keywords" content=""
meta name="description" content=""
title ArsVision
link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico"
link rel="stylesheet" href="css/style.css"
/[if lt IE 9] 
  script src="js/ie.js"