@font-face {
  font-family: 'Neuzeit';
  src: url('../fonts/neuzeitgro-reg.eot');
  src: url('../fonts/neuzeitgro-reg.eot?#iefix') format('embedded-opentype'),
       url('../fonts/neuzeitgro-reg.woff') format('woff'),
       url('../fonts/neuzeitgro-reg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit';
  src: url('../fonts/neuzeitgro-lig.eot');
  src: url('../fonts/neuzeitgro-lig.eot?#iefix') format('embedded-opentype'),
       url('../fonts/neuzeitgro-lig.woff') format('woff'),
       url('../fonts/neuzeitgro-lig.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Neuzeit';
  src: url('../fonts/neuzeitgro-bol.eot');
  src: url('../fonts/neuzeitgro-bol.eot?#iefix') format('embedded-opentype'),
       url('../fonts/neuzeitgro-bol.woff') format('woff'),
       url('../fonts/neuzeitgro-bol.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}